body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
}

.card-signin {
    border-radius: 1rem;
}

.card-signin .card-title {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.card-signin .card-body {
    padding: 2rem;
}

.form-signin {
    width: 100%;
}

.btn-submit {
    font-size: 100%;
    font-weight: 400;
    letter-spacing: 0.25rem;
}
